/node_modules
/public/hot
/public/storage
/public/user-uploads/*
!public/user-uploads/.htaccess
/storage/*.key
/vendor
/storage/installed
/storage/framework/laravel-excel/
/bootstrap/cache/*
storage/reviewed
storage/fonts/installed-fonts.json
